#navbox{
    width: 100%;
    height: 100px;
    /* border: 2px solid; */
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    background-color: aqua;
    top: 0;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#navbtn{
    display: flex;
    gap: 20px;
   
    border-radius: 8px;
}
#navbtn>button{
     width: 150px;
    height: 50px;
    border-radius: 8px;
    cursor: pointer;

}
#navlogo{
    margin-left: 50px;
}
@media(max-width:900px)
{
    #navbox{
        width: 100%;
    }
}
@media(max-width:600px)
{
    #navbox{
        width: 100%;
    }
}
@media(max-width:300px)
{
    #navbox{
        width: 100%;
    }
}